@import url(https://fonts.googleapis.com/css?family=Roboto+Mono);
@import url(https://fonts.googleapis.com/css?family=Press+Start+2P);

/* style, feel, color palette, etc... largely inspired by the UI work of the gamge called Nier Automata, which was designed by Hisayoshi Kijima.
    His work on the game can be found on a blog post he made which can be found here: https://www.platinumgames.com/official-blog/article/9624
 */

body {

	background-color: #DBD5BC;
	padding: 0 1.0em 1.0em 1.0em;
	margin: 1.0em 1.0em 1.0em 1.0em;

}

h1{

	font-family: 'Roboto Mono', monospace;
	font-size: 2.5em;
	font-weight: bold;
	color: #2B2A2A;
	line-height: 1.0em;
	text-shadow: 3px 1px #f08080, -2px -1px cyan;

}

nav ul li a{

	font-family: 'Press Start 2P', cursive;
	font-size: 0.60em;
	margin: 0em 3.0em 0.5em 0;
	color: #2B2A2A;

}

li {
	margin: 0 5.0em 0 0;
	list-style-type: none;
}

h2 {
	font-family: 'Roboto Mono', monospace;
	font-size: 1.5em;
	line-height: 1.5em;
	color: #2B2A2A;
	margin: 1.0em 1.0em 1.0em 0.75em;
}

p {

	font-family: 'Roboto Mono', monospace;
	font-size: 0.65em;
	line-height: 1.5em;
	color: #2B2A2A;
	margin: 1.0em 2.0em 1.0em 2.0em;

}

/* CSS for accordion layout for "work" section thanks to w3c Schools https://www.w3schools.com/howto/howto_js_accordion.asp*/

/*button styling*/
button.accordion {

    background-color: #2B2A2A;
    color: #DBD5BC;
    cursor: pointer;
    padding: 1.0em;
    margin: 0.5em 0.5em 0 0;
    width: 100%;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.4s;

}

/* background on active */
button.accordion.active {
	box-shadow: 1px 1px #f08080, -2px -1px cyan;
	background-color: #f08080;
}

/*panel styling*/
div.panel {
    padding: 0 18px;
    background-color: #DBD5BC;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;


    border: solid;
    border-width: 0.5px;
    border-color: #2B2A2A;
}

button.accordion:after {
    content: '+'; /* Unicode character for "plus" sign (+) \02795*/
    font-size: 1.0em;
    color: #777;
    float: right;
    margin-left: 5px;
}

button.accordion.active:after {
    content: "-"; /* Unicode character for "minus" sign (-) \2796*/

}

/* gallery, also thanks to w3c schools https://www.w3schools.com/css/css_image_gallery.asp */
div.gallery {

	display: block;
    margin: 0 auto;
    width: 180px;
}

div.gallery img {
    width: 100%;
    display: block;
    height: auto;
}

div.desc {
	font-family: 'Roboto Mono', monospace;
	font-size: 0.75em;
    padding: 0.5em;
    text-align: center;
}

img {

	display: block;
	max-width: 70%;
	margin: 0 auto;

}

#candle {

	float: none;
    display: block;
    padding-top: 3.0em;
    margin: 0 auto;
    max-height: 100px;
    max-width: 100px;

}

#spotify {

	display: block;
	margin: 0 auto;

}

/*
@media only and (min-width: 550) {

	img {float: left; margin: 0em 1.0em 1.0em 1.0em;}
	p { font-size: 0.75em; }
	#candle{ max-height: 128px; max-width: 128px; }

}
*/
@media only screen and (min-width: 780px) {

	nav ul li { display: inline; }
	img {float: left; margin: 0em 1.0em 1.0em 1.0em;}
	p { font-size: 0.75em; }
	#candle{ max-height: 128px; max-width: 128px; float: left; margin-left: 7.0em;}
	div.gallery { margin: 5px; float: left; width: 180px; }

}

@media only screen and (min-width: 1024px) {

	p { font-size: 1.0em; margin: 2.0em 10.0em 2.0em 0.5em; }
	img { max-width: 100%; float: left; margin: 0em 1.0em 1.0em 1.0em; }
	nav ul li { display: inline; }
    nav ul li a{ font-size: 1.0em; }
	#candle{ max-height: 128px; max-width: 128px; float: left; margin-left: 7.0em; }
	div.gallery { margin: 5px; float: left; width: 180px; }
    button.accordion:hover { box-shadow: 1px 1px #f08080, -2px -1px cyan; background-color: #f08080; }

}


@media only screen and (min-width: 1366px){

	h1 { font-size: 3.0em; }
	h2 { font-size: 2.0em; margin-left: 0.25em;}
	p { font-size: 1.2em; }
    nav ul li a{ font-size: 1.0em; }
	div.gallery { margin: 5px; float: left; width: 180px; }
	#candle{ max-height: 128px; max-width: 128px; float: left; margin-left: 7.0em; }
    img { max-width: 100%; float: left; margin: 0em 1.0em 1.0em 1.0em; }
    button.accordion:hover { box-shadow: 1px 1px #f08080, -2px -1px cyan; background-color: #f08080; }

}

}