@import url(https://fonts.googleapis.com/css?family=Roboto+Mono);
@import url(https://fonts.googleapis.com/css?family=Press+Start+2P);

body {

	background-color: #DBD5BC;
/*	background-image: url("background1.png");
	background-repeat: repeat;*/

}

h1{

	font-family: 'Roboto Mono', monospace;
	font-size: 2.5em;
	color: #2B2A2A;
	font-weight: bold;
	line-height: 0.75em;
	text-shadow: 3px 1px #f08080, -2px -1px cyan;
	margin-left: 1.0em;

}

nav ul li{ display: inline; }
nav ul li a{

	font-family: 'Press Start 2P', cursive;
	font-size: 1.0em;
	padding: 0.0em 0.25em;
	margin: 3.0em 10em 0em 0;
	border-radius: 8px;
	color: #2B2A2A;

}


p {

	font-family: 'Roboto Mono', monospace;
	font-size: 1.00em;
	line-height: 0.25em;
	color: #2B2A2A;
	margin: 3.0em 2.0em 5.0em 2.0em;

}

@media screen and (max-width: 959px) {

}